@use "./Variables" as *;
@use "./Mixins" as *;
// Navbar events
.burger-opened {
  span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
  }
  span:first-child {
    transform-origin: center;
    transform: rotateZ(-45deg) translateY(180%) translateX(-20%);
  }
  span:last-child {
    transform-origin: center;
    transform: rotateZ(45deg) translateY(-180%) translateX(-20%);
  }
}

.mobile-menu-opened {
  transform: translateY(0%) !important;
  opacity: 1 !important;
}

.sticky-nav {
  background-color: $primaryColor;
  box-shadow: $bigShadow;
  .menu-large {
    & li::after {
      background-color: rgba(255, 255, 255, 0.788) !important;
    }
    & li::before {
      background-color: rgba(255, 255, 255, 0.788) !important;
    }
  }
  .nav-large li {
    color: rgba(255, 255, 255, 0.788) !important;
  }
  .burger {
    span {
      background-color: rgba(255, 255, 255, 0.788);
    }
  }
  .cart-badge {
    border: 1px solid rgba(255, 255, 255, 0.788);
  }
}
.nav-active {
  @include underlineActive();
}

// Top Button event
.show-btn {
  visibility: visible !important;
  opacity: 1 !important;
}

// Disabled button
.button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

// Blocker
.show-blocker {
  visibility: visible !important;
  opacity: 1 !important;
}
.block-scroll {
  overflow: hidden !important;
}
