@use "./Variables" as *;
//Global Styling
html {
  font-size: 65px;
}

body {
  position: relative;
}
.container {
  padding-inline: 20px;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: "Alice", serif;
}
img {
  user-select: none;
  font-size: 18px;
}
::selection {
  background-color: $primaryColor;
  color: $secondaryColor;
}
li {
  list-style: none;
}
// Colors
.font-primary {
  color: $primaryColor;
}
.font-secondary {
  color: $secondaryColor;
}
.paragraph-secondary {
  color: $paragraphSecondary;
}
// Headings
h1 {
  font-size: $sliderHeading;
  font-weight: 700;
  line-height: 40px;
}
h2 {
  font-size: $sectionHeading;
  line-height: clamp(40px, 4vw, 50px);
}
h3 {
  font-size: $subHeadings;
  font-weight: 700;
}
h4 {
  font-size: $smallHeadings;
}
// paragraphs
.large-paragrapgh {
  font-size: $largePragraph;
}
.small-paragrapgh {
  font-size: $smallPragraph;
}
// Buttons
button,
.link-btn {
  font-size: $buttonFont;
  transition: $transitionDuration;
  padding: 8px clamp(8px, 1vw, 18px);
  width: max-content;
  cursor: pointer;
}
// Error Message
.error-message {
  color: $errorColor;
  font-size: 0.21rem;
  position: absolute;
  inset: auto auto -20px 0px;
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
  background: $primaryColor;
}
::-webkit-scrollbar-thumb:hover {
  background: #12342fe0;
}
*::-moz-scrollbar-thumb {
  background-color: $primaryColor;
}

*::-moz-scrollbar-track {
  background-color: whitesmoke;
}

*::-moz-scrollbar-thumb:hover {
  background: #12342fe0;
}
// Sections
.background-section {
  background-size: contain;
  background-color: rgba(255, 228, 196, 0.199);
}

// Swiper
.swiper-pagination-bullet {
  background-color: $primaryColor;
}
// Logo
.logo {
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.315));
}

// Tables
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
td {
  padding: 20px;
  height: 200px;
}
tr {
  border: 1px solid #e9e9e9;
}
// Toastify
.Toastify {
  font-size: 0.25rem;
}
