@use "./Variables" as *;
//Global Styling
html {
  font-size: 65px;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.container {
  padding-inline: 30px;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: "Alice", serif;
}
img {
  user-select: none;
}
::selection {
  background-color: $primaryColor;
  color: $secondaryColor;
}
li {
  list-style: none;
}
// Colors
.font-primary {
  color: $primaryColor;
}
.font-secondary {
  color: $secondaryColor;
}
.paragraph-secondary {
  color: $paragraphSecondary;
}
// Headings
h1 {
  font-size: $sliderHeading;
  font-weight: 700;
}
h2 {
  font-size: $sectionHeading;
}
h3 {
  font-size: $subHeadings;
  font-weight: 700;
}
h4 {
  font-size: $smallHeadings;
}
// paragraphs
.large-paragrapgh {
  font-size: $largePragraph;
}
.small-paragrapgh {
  font-size: $smallPragraph;
}
// Buttons
button {
  font-size: $buttonFont;
  transition: $transitionDuration;
  padding: 8px 18px;
}
