// Templates colors
$primaryColor: #12342f;
$primaryLight: #12342f2c;
$primaryDark: #0f2f2a;
$secondaryColor: #ffffff;
$headerBorderColor: #e9e9e9;
$paragraphSecondary: #d0d0d0;
$successColor: #4f8a10;
$errorColor: #ff0000d8;
$bgLight: #f9f7ed;
$bgDark: #191919;
$contactBg: #dbd0c8;
$cardBg: #f9f7ee4d;

//Template font sizes
$sliderHeading: clamp(0.7rem, 4vw, 1rem);
$sectionHeading: 0.7rem;
$subHeadings: clamp(0.33rem, 5vw, 0.4rem);
$buttonFont: clamp(0.3rem, 5vw, 0.35rem);
$smallHeadings: 0.3rem;
$largePragraph: clamp(0.26rem, 5vw, 0.3rem);
$smallPragraph: 0.25rem;

// Transition
$transitionDuration: 0.3s ease-in-out;

// Template borders
$borderPrimary: 1px solid $primaryColor;
$borderLight: 1px solid $primaryLight;

// Padding
$cardPadding: 20px;

// Border radious
$templateBorderRadious: 3px;

//Shadow
$bigShadow: 0px 10px 8px 2px rgba(0, 0, 0, 0.137);
