@use "../../../Styles/Variables" as *;

footer {
  .subscription-form {
    display: flex;
    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
  svg {
    fill: $paragraphSecondary;
    font-size: 0.32rem;
  }
  a,
  svg {
    transition: $transitionDuration;
  }
  & :is(a, svg):hover {
    color: $secondaryColor;
    fill: $secondaryColor;
  }
  .pack-food {
    position: absolute;
    height: 200px;
    inset: auto 0px -150px auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
